#root {
  width: 100vw;
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  height: 80%;
}
